.font-sm{
  font-size: $font-size-sm;
}

.font-weight-{
  &medium{
    font-weight: 500;
  }

  &semibold{
    font-weight: 600;
  }
}

.picture-replace{
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

a{
  &.hover-primary{
    &:hover{
      color: theme-color("primary") !important;
    }
  }

  &.hover-secondary{
    &:hover{
      color: theme-color("secondary") !important;
    }
  }
}

.border-width-md{
  border-width: 2px !important;
}