.white-logo{
  background: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/d%E2%80%99Perfumewhite.png) no-repeat;
  width: 128px;
  height: 38px;
}

.nav-link{
  color: $white;

  &:hover{
    color: rgba($white, .5);
  }
}