.banner{
  background: url(https://hexschool.github.io/webLayoutTraining1st/perfume-week6/index1.jpg) no-repeat center;
  background-size: cover;
  height: 870px;

  @media (max-width: 767px){
    height: 480px;
  }
}

@media (max-width: 767px){
  .banner-{
    &title{
      font-size: 32px;
    }
    &text{
      font-size: 20px;
    }
  }
}